.oxmod-smct-msgview {
  /* CSS */
  color: #333;
  font-size: 15px;
}
.oxmod-smct-msgview > div {
  padding: 5px 0;
}
.oxmod-smct-msgview > h3 {
  font-size: 15px;
  font-weight: 400;
}
.oxmod-smct-msgview .imgs img {
  width: 100%;
}
.oxmod-smct-msgview .empty {
  padding: 30px;
  text-align: center;
  color: #999;
  font-size: 15px;
}
